# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.dist/
build/
dist/
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.coverage*
.cache/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project
.env
.env.*
*.sqlite3
.env.example
.env.production.example